@media(min-width: 768px) {
    .navbar-form {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-form p.navbar-text {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.navbar-form p.navbar-text {
    margin-top: 7px;
    margin-bottom: 7px;
}

.empty-cell {
    background-color: #f5f5f5;
}